  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* ----------- SCROLL BEHAVIOR ------------ */

    html {
      scroll-behavior: smooth;
    }

  /* ----------- GENERAL SPACES ------------- */

  body {
    background-image: url(images/brown-floor-1-web.jpg);
    background-size: contain;
    margin: 0;
  }
    
  .container {
    width: min(90%, 1500px);
    margin: 0;
    margin-inline: auto;
    justify-content: center;
    position: relative;
  }

  .section {
    margin: 0 2rem;
  }

  #welcome-section {
    display: block;
    text-align: center;
    padding-bottom: 10rem;
  }

  #idea-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  #whom-section {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  #about-section {
    display: block;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  #gallery-section {
    position: relative;
  }

  #div-gallery-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }


  /* ---------------- TEXT ------------------ */

  h1 {
    font-family: "Great Vibes", serif;
    font-size: clamp(4rem, 5vw + 1rem, 10rem);
    font-weight: 400;
    padding-top: 6rem;
    margin: 0;
    text-shadow: 1px 1px burlywood;
  }

  h2 {
    font-family: "Merienda", serif;
    font-weight: 600;
    font-size: clamp(1rem, 1vw + 1rem, 2rem);
    width: 70%;
    margin: auto;
    padding-top: 2rem;
    text-shadow: 1px 1px burlywood;
    text-align: center;
  }

  p {
    font-family: "Merienda", serif;
    font-weight: 400;
    font-size: clamp(1rem, 1vw + 0.5rem, 2rem);
    width: 70%;
    margin: 0 auto 0;
    padding-top: 2rem;
    text-shadow: 1px 1px burlywood;
    text-align: justify;
  }

  .text-under-logo {
    text-align: center;
  }

  .div-main-text {
    padding: 5rem 0;
    padding-bottom: max(1rem, 5vw);
  }

  .gallery-title {
    font-size: 2.5rem;
  }


  /* -------------- IMAGES ------------------ */

  #welcome-image {
    width: clamp(15rem, 30vw + 1rem, 33rem);
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    transform: rotate(4deg);
  }

  #idea-image {
    width: clamp(15rem, 40vw + 1rem, 40rem);
    margin-top: 3rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    transform: rotate(-4deg);
  }

  #whom-image {
    width: clamp(15rem, 30vw + 1rem, 33rem);
    margin-top: 3rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    transform: rotate(4deg);
  }

  #about-image {
    width: clamp(12rem, 60vw + 1rem, 70rem);
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    transform: rotate(1deg); 
  }

  .div-main-image {
    text-align: center;  
  }

  #div-about-image {
    padding-bottom: 5rem;
  }


  /* --------- NAVIGATIONAL BAR TOP --------- */

  #nav-bar-section {
    position: fixed;
    width: 100%;
    height: 4rem;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(197, 184, 163, 0.5);
    box-shadow: 1px 1px 10px black;
    z-index: 1;
  }

  #div-language-change {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
  }
  
  .language-image {
    width: clamp(2rem, 4vw, 3rem);
    border-radius: 5px 5px 5px 5px;
    margin: 0;
    box-shadow: 1px 1px 3px black;
  }

  .language-image:hover {
    box-shadow: 1px 1px 6px black;
  }

  .ul-top {
    margin-top: 1.4rem;
    display: flex;
    list-style-type: none;
    gap: 1rem; 
    padding-inline-start: 2rem;
  }

  /* buttons invisible on large screens */
  .open-button,
  .close-button {
    display: none;
  }

  li {
    font-family: "Merienda", serif;
    font-weight: 400;
    padding: 2px;
    transition: .1s;
    border: 1px solid rgba(0, 0, 0, 0);
  }

  .nav-link-top {
    text-decoration: none;
  }

  a:link {
    color:  black;
  }

  a:visited {
    color: black;
  }

  li:hover {
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    transform: translateY(-2px);
  }

  li:active {
    background-color: rgb(240, 248, 255, 0.5);
    transform: translateY(1px);
    box-shadow: 1px 1px 2px black;
  }

  /* ------------- GALLERY ------------------ */

  .gallery {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .gallery-image {
    width: 15rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    transition: .3s;
  }
  
  figcaption {
    font-family: "Merienda", serif;
    padding-top: 1em;
    text-align: center;
  }
  
  
  /* ----------- MEDIA QUERIES -------------- */
  
  @media (hover: hover) {
    .gallery-image:hover {
      transform: scale(1.5);
      box-shadow: 1px 1px 15px black;
    }
  }

  @media (max-width: 700px) {
    #welcome-section,
    #idea-section,
    #about-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #whom-section {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }

    p {
      width: 100%;
    }
 
    #whom-image,
    #idea-image {
      margin-top: 0;
      margin-bottom: 1.5rem;
    }
  }

  @media (width <= 640px) {
    .ul-top {
      margin-top: 5px;
      list-style-type: none;
      gap: 1rem;
      background-color: rgba(197, 184, 163, 0.5);
      padding: 6px;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 5px 5px 5px 5px;
      box-shadow: 1px 3px 10px black;
      display: none;  /* default state - off */
    }

    .open-button,
    .close-button {
      height: 100%;
      width: 50px;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 5px 5px 5px 5px;
      background-color: rgba(0, 0, 0, 0);
      font-family: "Merienda", serif;
      font-weight: 700;
      font-size: 1.5rem;
      transform: rotate(-90deg);
      margin-right: 60px;
    }

    .open-button {
      display: block; /* initial state - visible */
    }

    .close-button {
      display: none; /* initial state - invisible */
    }

    #div-language-change {
      margin-right: 1rem;
    }

    .open-button:hover,
    .close-button:hover {
      border: 1px solid gainsboro;
      border-radius: 5px;
      box-shadow: -1px 1px 5px black;
      transform: rotate(-90deg) translateX(2px);
    }

    .open-button:active,
    .close-button:active {
      background-color: rgb(240, 248, 255, 0.5);
      transform: rotate(-90deg) translateY(1px);
      box-shadow: -1px 1px 2px black;
    }
  }


/* ---------- LANGUAGE CHANGE ------------- */

.language-lithuanian {
  display: none;  /* initial state - invisible */
}

.language-english {
  display: block;  /* initial state - visible */
}