:root {
  --light-brown: rgba(197, 184, 163, 0.9);
  --light-blue: rgba(240, 248, 255, 0.9);
  --transparent: rgba(0, 0, 0, 0);

  font-family: "Merienda", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ----------- SCROLL BEHAVIOR ------------ */

  html {
    scroll-behavior: smooth;
  } 

/* ----------- GENERAL SPACES ------------- */

body {
  background-image: url(images/brown-floor-1-web.jpg);
  background-size: contain;
  margin: 0;
} 
  
.container {
  width: min(90%, 1500px);
  margin: 0;
  margin-inline: auto;
  justify-content: center;
  position: relative;
}

.section {
  margin: 0 2rem;
}

#welcome-section {
  display: block;
  text-align: center;
  padding-bottom: 10rem;
}

#idea-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#whom-section {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#about-section {
  display: block;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#gallery-section {
  position: relative;
  margin-bottom: 10rem;
}

#div-gallery-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


/* ---------------- TEXT ------------------ */

h1 {
  font-family: "Great Vibes", serif;
  font-size: clamp(4rem, 5vw + 1rem, 10rem);
  font-weight: 400;
  padding-top: 6rem;
  margin: 0;
  text-shadow: 1px 1px burlywood;
}

h2 {
  font-weight: 600;
  /* font-size: clamp(1.5rem, 1vw + 1.5rem, 2rem); */
  font-size: clamp(1.5625rem, 1.4489rem + 0.4545vw, 1.875rem);
  width: 70%;
  margin: auto;
  padding-top: 2rem;
  text-shadow: 1px 1px burlywood;
  text-align: center;
}

p {
  font-weight: 400;
  /* font-size: clamp(1.3rem, 1vw + 1rem, 2rem); */
  font-size: clamp(1.375rem, 1.3295rem + 0.1818vw, 1.5rem);
  width: 70%;
  margin: 0 auto 0;
  padding-top: 2rem;
  text-shadow: 1px 1px burlywood;
  text-align: justify;
}

.text-under-logo {
  text-align: center;
}

.div-main-text {
  padding: 5rem 0;
  padding-bottom: max(1rem, 5vw);
}

.gallery-title {
  font-size: 2.5rem;
}


/* -------------- IMAGES ------------------ */

#welcome-image {
  width: clamp(15rem, 30vw + 1rem, 33rem);
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  transform: rotate(4deg);
}

#idea-image {
  width: clamp(15rem, 40vw + 1rem, 40rem);
  margin-top: 3rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  transform: rotate(-4deg);
}

#whom-image {
  width: clamp(15rem, 30vw + 1rem, 33rem);
  margin-top: 3rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  transform: rotate(4deg);
}

#about-image {
  width: clamp(12rem, 60vw + 1rem, 70rem);
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  transform: rotate(1deg); 
}

.div-main-image {
  text-align: center;  
}

#div-about-image {
  padding-bottom: 5rem;
}

/* ------------- GALLERY ------------------ */

#div-gallery-items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem;
  justify-content: space-evenly;
  gap: 1rem;
}

  .gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.gallery-image {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
}

figcaption {
  padding-top: 1em;
  text-align: center;
  font-size: 1.25rem;
}

#empty-gallery {
  width: 100%;
}
  
  #empty-gallery p {
    text-align: center;
  }


/* --------- NAVIGATIONAL BAR TOP --------- */ 

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: var(--light-brown);
  box-shadow: 1px 1px 10px black;
  z-index: 100;
}

    /* .nav-menu {
      border: 2px;
    } */

        .ul-menu {
          border: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin-left: 1rem;
          margin-right: 1rem;
          gap: 1rem;
        }

            li  {
              padding: 2px;
              transition: .1s;
              border: 1px solid var(--transparent);
            }

            li:hover {
              border: 1px solid gainsboro;
              border-radius: 5px;
              box-shadow: 1px 1px 5px black;
              transform: translateY(-2px);
              background-color: var(--light-blue);
            }

            li:active {
              transform: translateY(1px);
              box-shadow: 1px 1px 2px black;
            }

                a {
                  text-decoration: none;
                }
            
                a:link {
                  color: black;
                } 

                a:visited {
                  color: black;
                }

.nav-button {
  height: 50px;
  width: 50px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px 2px black;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5rem;
  transition: 0.1s;
  cursor: pointer;
  display: none;
}

    .nav-button:hover {
      box-shadow: 1px 1px 5px black;
      transform: translateY(-2px);
      background-color: var(--light-blue);
    }

    .nav-button:active {
      transform: translateY(1px);
      box-shadow: 1px 1px 2px black;
    }

        .open-menu-button,
        .close-menu-button {
          margin-left: 1rem;
          margin-right: 1rem;
        }

        .open-search-button {
          font-size: 2rem;
        }

            .open-menu-button-image {
              width: 80%;
              height: 80%;
              padding-top: 6px;
              pointer-events: none;
            }

            .open-filter-button-image {
              width: 100%;
              height: 80%;
              border-radius: 5px;
              padding-top: 9px;
              pointer-events: none;
            }

            .open-sorting-button-image {
              width: 100%;
              height: 50%;
              border-radius: 5px;
              transform: rotate(90deg);
              pointer-events: none;
              padding-left: 6px;
            }

            .open-search-button-image {
              width: 80%;
              height: 70%;
              border-radius: 5px;
              padding-top: 8px;
              pointer-events: none;
            }
    
.nav-controls {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

    .controls-filter {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
        
    .controls-sort {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

        .select-options {
          font-family: "Merienda", serif;
          border: 1px solid gainsboro;
          background-color: var(--light-brown);
          border-radius: 5px;
          cursor: pointer;
          box-shadow: 1px 1px 2px black;
          width: 185px;
          text-align: center;
        }

    .controls-search {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

        .search-field {
          border: 2px solid var(--light-brown);
          border-radius: 5px;
          background-color: white;
          box-shadow: 1px 1px 2px black;
        }

            .input-field {
              font-family: "Merienda", serif;
              border: none;
              border-radius: 5px;
              background-color: white;
            }

                .input-field:focus {
                  outline: none;
                }

            #input-field-button {
              border: none;
              border-radius: 5px;
              background-color: white;
              width: 20px; 
              cursor: auto;
            }

            .input-field-button-image {
              width: 100%;
              height: 80%;
              padding-top: 5px;
              pointer-events: none;
            }

#nav-language {
display: flex;
justify-content: center;
align-items: center;
}

    .language-button {
      height: 2rem;
      width: 3rem;
      margin-right: 1rem;
      margin-left: 1rem;
      padding: 0;
      border: 1px solid var(--transparent);
      background-color: var(--transparent);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 1px 1px 2px black;
    }

    .language-button:hover {
      transform: translateY(-2px);
      box-shadow: 1px 1px 5px black;
    }

    .language-button:active {
      transform: translateY(1px);
      box-shadow: 1px 1px 1px black;
    }
    
        .language-image {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }

/* ----------- MEDIA QUERIES -------------- */

@media (width <= 1300px) {
  .nav-controls {
    position: relative;
  }
      /* filter */
      .open-filter-button {
        display: block;
      }

      .filter-label {
        display: none;
      }

      .filter-options {
        position: absolute;
        display: none;
        bottom: -37px;
        left: 0;
      }

          .filter-options-button {
            background-color: var(--light-brown);
            box-shadow: 1px 1px 5px black;
          }

      /* sorting */
      .open-sort-button {
        display: block;
      }

      .sort-label {
        display: none;
      }

      .sort-options {
        position: absolute;
        display: none;
        bottom: -37px;
        left: 0;
      }

      /* search */
      .open-search-button {
        display: block;
      }

      .search-label {
        display: none;
      }

      .search-field {
        position: absolute;
        bottom: -39px;
        left: 0;
        display: none;
      }
    }

@media (width <= 850px) {
  .nav-menu {
    position: relative;
  }

      .ul-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-left: 2px;
        padding: 6px;
        width: 130px;
        background-color: var(--light-brown);
        border: 1px solid var(--transparent);
        border-radius: 5px 5px 5px 5px;
        box-shadow: 1px 3px 10px black;
      }

        li {
          font-size: 1.25rem;
        }

      .nav-controls {
        gap: 1rem;
      }

      .select-options {
        font-size: 1.25rem;
        width: 262px;
      }

        .filter-options {
          bottom: -48px;
          left: -50px;
        }

        .sort-options {
          bottom: -48px;
          left: -50px;
        }

      .search-field {
        bottom: -50px;
        left: -50px;
      }

        .input-field {
          font-size: 1.25rem;
        }

        #input-field-button {
          width: 25px;
        }
}

@media (max-width: 700px) {
  #welcome-section,
  #idea-section,
  #about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #whom-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  
  p {
    width: 100%;
  }
  
  #whom-image,
  #idea-image {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}

/* ---------- LANGUAGE CHANGE ------------- */

[data-language="en"] {
  display: block;
}

[data-language="lt"] {
  display: none;
}
